//======================
// Common
//======================

.fl { 
	float: left;
}

.fr { 
	float: right;
}

.hide {
	display: none;
}

.mt20 {
	margin-top: rem(20);
}

.clearfix {
	@include clearfix;
}